.admin-addCategorie-form{
    width: 100%;
    display: flex;
    & form{
        width:80%;       
        background-color: white;
        margin: auto;
        border: 1px rgba(121, 117, 117, 0.86) solid;
        border-radius: 6px;

        padding: 1rem 2rem;
        & .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
            width: 100%;
        }
        & .admin-addCategorie-form-sub{
            display: flex;
            gap: 1rem;
        }
    }
}